<h1>About Morning Pages</h1>
<p>This is really just an attempt to practice with Ruby on Rails, so please don't sue me for anything.</p>
<p>I eventually want this app to be a repository for 'morning pages'. Or maybe I'll use it for NaNoWriMo. Who knows?</p>