<h1>Help</h1>
<p>This is the Help page for Morning Pages. Soon it should contain actually useful things. For now, have a picture of a cat:</p>
<img src="http://1.bp.blogspot.com/-F9B7MrG9Vl8/T9uevPioqPI/AAAAAAAAACg/FQxPGkupdMk/s1600/cute+cat+pictures+(8).jpg" alt="yawn! no help for you">