<div class="center hero-unit">
	<h1>Welcome to Morning Pages</h1>
	<p>This is the home page of the app!</p>
	<p>Soon there <i>should</i> be a form here allowing you to sign up to use the site.</p>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>